body {
    background-color: burlywood;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.whole {
    margin: 0 100px;
}

h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

#firstLine {
    color: orangered;
    text-align: center;
    font-weight: 600;
}

#secondLine {
    color: green;
    text-align: center;
    font-weight: 600;
}

#thirdLine {
    color: grey;
    text-align: center;
    font-weight: 600;
}

#text-box {
    width: 500px;
    height: 25px;
}

#btn {
    padding: 2px 15px;
    border-radius: 5px;
    border-style: solid;
    font-size: 20px;
    border-width: 1px;
}

.names {
    font-size: 20px;
    color: green;
}

#list {
    list-style-type: none;
}

.itemNames {
    margin: 0 300px;
}

.listItem {
    background-color: lightblue;
    color: cadetblue;
    margin: 5px;
    text-align: left;
    padding: 5px;
    border-style: solid;
}

.closeButton {
    border: none;
    background-color: lightblue;
    color: cadetblue;
    float: right;
}

.closeButton:hover {
    opacity: 0.6;
}